@import url('https://fonts.googleapis.com/css2?family=Roboto:wgth@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

h1 {
    color: #222;
    padding-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.box {
    width: 400px;
    height: 200px;
    background-color: steelblue;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    color: #fff;
    transition: transform 300ms ease-out;
}

.box:nth-of-type(even) {
    transform: translateX(200%);
}

.box:nth-of-type(odd) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}
